header{
    border:50px solid gray;
    margin:center;
    width:101%
    padding-top: 627px ;  
}

body
{
    background-image: url("../images/desktop-background.jpg");
    background-size: cover;
    background-position: center;
    height: 460px
}

footer{
    border-bottom: 50px solid gray;
    margin: center;
    height:0;
    width: 101%;
    padding-top: 627px ;    
}
footer img{
    width: 50px;
    height: 50px;
    float:right;
}
