body
{
    background-image: url("../images/desktop-background.jpg");
    background-size: cover;
    background-position: center;
    height: 460px
}

footer
{
    border-bottom: 30px solid gray;
    margin: center;
    width: 101%;
    padding-top: 627px ;
}